{% extends 'base.html' %}
{% load static %}

{% block title %}Our Rates{% endblock %}

{% block content %}

<div class="rates-bg">
    <div class="rate-box">
        <h2>Power Boat Rentals</h2>
        <p>Weekday 4 Hours from $229.00</p>
        <p>Weekday 8 Hours from $299.00</p>
        <p>Weekend 4 Hours from $279.00</p>
        <p>Weekend 8 Hours from $379.00</p>
    </div>

    <div class="rate-box">
        <h2>Kayak Rentals</h2>
        <p>Single person 2 hours $19.00</p>
        <p>Single person 4 hours $29.00</p>
        <p>Single person Full Day $69.00</p>
        <p>Double 2 hours $29.00</p>
        <p>Double 4 hours $49.00</p>
        <p>Double Full Day $99</p>
    </div>

    <div class="rate-box">
        <h2>Paddle Board Rentals</h2>
        <p>2 hours $39.99</p>
        <p>4 hours $59.99</p>
    </div>

    <div class="rate-box">
        <h2>Water Shoes Rentals</h2>
        <p>2 hours $3</p>
        <p>4 hours $5</p>
    </div>

    <div class="rate-box">
        <h2>Water Proof Phone Holder Rentals</h2>
        <p>$4</p>
    </div>
</div>
{% endblock %}
